<a href="https://colab.research.google.com/github/niafthomas/niafthomas.github.io/blob/main/SM_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, pandas as pd

In [ ]:
import numpy as np

In [ ]:
tables=pd.read_html('https://en.wikipedia.org/wiki/Global_Social_Mobility_Index')

In [ ]:
tables[0]

    Rank      Country  Index Score
0      1      Denmark         85.2
1      2       Norway         83.6
2      3      Finland         83.6
3      4       Sweden         83.5
4      5      Iceland         82.7
..   ...          ...          ...
77    78   Bangladesh         40.2
78    79     Pakistan         36.7
79    80     Cameroon         36.0
80    81      Senegal         36.0
81    82  Ivory Coast         34.5

[82 rows x 3 columns]

In [ ]:
df=tables[0]
df

    Rank      Country  Index Score
0      1      Denmark         85.2
1      2       Norway         83.6
2      3      Finland         83.6
3      4       Sweden         83.5
4      5      Iceland         82.7
..   ...          ...          ...
77    78   Bangladesh         40.2
78    79     Pakistan         36.7
79    80     Cameroon         36.0
80    81      Senegal         36.0
81    82  Ivory Coast         34.5

[82 rows x 3 columns]

In [ ]:
df1 = df.drop(['Rank'], axis=1).set_index('Country')
df1

             Index Score
Country
Denmark             85.2
Norway              83.6
Finland             83.6
Sweden              83.5
Iceland             82.7
...                  ...
Bangladesh          40.2
Pakistan            36.7
Cameroon            36.0
Senegal             36.0
Ivory Coast         34.5

[82 rows x 1 columns]

In [ ]:
df1.to_csv('Social_Mobility.csv')
import os
os.getcwd()
from google.colab import files
files.download('Social_Mobility.csv')